*{
    margin: 0%;
    padding: 0%;
    background-color: burlywood;
    text-align: center;
    gap: 100px;
}

button{

    border: none;
    border-radius: 5px;
    margin-top: 80px;
    background-color: cadetblue;
    padding: 9px 9px;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transition: 0.3s;
}

button:hover{
    border: #000000 solid 3px;
   
}